# folders
/logs
/modules
/webserver

#files
!env.xml
*.dll
*.exe
*.txt
!xml.exe
bans.xml

# databases
*.db

# logs
*.log

# different os crap
.DS_Store

# specials
config.xml
positions.txt

# env
.env
