<settings>
    <hostname>.:: [RC3] Night City RolePlay (Open Beta Test v 0.0.571) FREE TODAY :D ::.</hostname>
    <serverip />
    <port>27015</port>
    <maxplayers>4</maxplayers>
    <weburl>www.mafia2-online.com</weburl>
    <password />
    <resources>
        <resource>ncrp</resource>
    </resources>
    <serverkey />
    <modules />
</settings>
