<settings>
    <hostname>Night City Role-Play v0.0.56</hostname>
    <serverip />
    <port>23015</port>
    <maxplayers>4</maxplayers>
    <weburl>www.mafia2-online.com</weburl>
    <password />
    <resources>
        <resource>ncrp</resource>
    </resources>
    <serverkey />
    <modules />
</settings>
